extends ../layout

block css

block content
    .content.content-full
        .py-50
            .position-relative
                span.text-back #{title}
                .row
                    .col-6
                        nav.breadcrumb.push
                            a.breadcrumb-item(href='/') Dashboard
                            a.breadcrumb-item(href='/clients') Clients Data
                            span.breadcrumb-item.active #{title}
            a.btn.btn-alt-secondary.btn-noborder.btn-hero(href="/clients") Kembali
            .block
                .block-header.block-header-default
                    h3.block-title Detail Client: #{client_detail.company_name}
                    .block-options
                        button.btn-block-option.mr-20(data-toggle="block-option" data-action="fullscreen_toggle")
                        a.btn.btn-primary.btn-noborder.btn-hero.mr-5(data-toggle="modal" data-target="#mdl_client-ubah" href="javascript:void(0)") Ubah Data
                        a.btn.btn-alt-danger.btn-noborder.btn-hero(data-toggle="modal" data-target="#mdl_client-hapus" href="javascript:void(0)") 
                            i.fa.fa-trash
                .block-content.block-content-full
                    .row.mt-10
                        .col-4.px-30
                            .block
                                .block-content.block-content-full.bg-secondary
                                    .text-center.py-50
                                        h4.font-w700.text-white.text-uppercase.mb-0 
                                            | Logo
                        .col-8
                            .row
                                .col-6
                                    .form-group
                                        label Company Name
                                        span.form-control(type="text") #{client_detail.company_name}
                                .col-6
                                    .form-group
                                        label Kontak
                                        span.form-control(type="text") #{client_detail.kontak}
                                .col-12
                                    .form-group
                                        label Alamat
                                        textarea.form-control(type="text" disabled name="alamat" rows="3") #{client_detail.alamat}
                                .col-6
                                    .form-group
                                        label Penanggung Jawab
                                        input.form-control(type="text" value=client_detail.pj_name disabled)
                                .col-6
                                    .form-group
                                        label Jabatan
                                        input.form-control(type="text" value=client_detail.pj_jabatan disabled)
                                .col-6
                                    .form-group
                                        label Created At
                                        input.form-control(type="text" value=client_detail.createdAt disabled)
                                .col-6
                                    .form-group
                                        label Last Update
                                        input.form-control(type="text" value=client_detail.createdAt disabled)
                            

block modal
    .modal.fade(id="mdl_client-ubah" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30.mb-30 Ubah Data
                        form.js-validation-signin(action="/clients/" + client_detail.id + "/edit", method="POST")
                            .form-group
                                label Company Name
                                input.form-control(type="text" placeholder="Company Name" name="company" value=client_detail.company_name)
                            .form-group
                                label Penanggung Jawab
                                input.form-control(type="text" placeholder="Penanggung Jawab" name="name" value=client_detail.pj_name)
                            .form-group
                                label Jabatan
                                input.form-control(type="text" placeholder="Jabatan" name="jabatan" value=client_detail.pj_jabatan)
                            .form-group.mt-20
                                textarea.form-control(type="text" placeholder="Alamat Lengkap" name="alamat" rows="3") #{client_detail.alamat}
                            .form-group
                                label Kontak
                                input.form-control(type="text" placeholder="Kontak" name="kontak" value=client_detail.kontak)
                            button.btn.btn-primary.btn-noborder.btn-hero.w-100.mt-20(type="submit") Simpan
    
    .modal.fade(id="mdl_client-hapus" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30.mb-30 Hapus Data
                        form.js-validation-signin(action="/clients/" + client_detail.id + "/delete", method="POST")
                            .form-group
                                label Company Name
                                input.form-control(type="text" name="company" value=client_detail.company_name disabled)
                            hr
                            h6.font-w700.text-center.mb-0.mt-lg-30 Hapus data ini?
                            button.btn.btn-alt-danger.btn-noborder.w-100.mt-20(type="submit") Ya, Hapus
                            button.btn.btn-primary.btn-noborder.btn-hero.w-100.mt-20(type="submit") Batalkan
    

block helpers