extends ../layout

block css
    link(rel="stylesheet", href="../../assets/js/plugins/select2/css/select2.min.css")
    link(rel="stylesheet", href="../../assets/js/plugins/datatables/dataTables.bootstrap4.css")

block content
    .content.content-full
        .py-50
            .position-relative
                span.text-back #{title}
                .row
                    .col-6
                        nav.breadcrumb.push
                            a.breadcrumb-item(href='/') Dashboard
                            a.breadcrumb-item(href='/clients') Clients Data
                            span.breadcrumb-item.active #{title}
            .block
                .block-header.block-header-default
                    a.text-primary(href="/clients") 
                        i.si.si-action-undo    
                        | Kembali
                    .block-options
                        button.btn-block-option.mr-20(data-toggle="block-option" data-action="fullscreen_toggle")
                        .dropdown
                            button.btn-block-option.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Lainnya
                            .dropdown-menu.dropdown-menu-right
                                a.dropdown-item.mr-5(data-toggle="modal" data-target="#mdl_client-ubah" href="javascript:void(0)")
                                    i.fa.fa-pencil.mr-5
                                    | Ubah Data
                                a.dropdown-item(data-toggle="modal" data-target="#mdl_client-hapus" href="javascript:void(0)") 
                                    i.fa.fa-trash.mr-5
                                    | Hapus Data
                .block-content.block-content-full
                    h6.text-center.mb-0.mt-30
                        small Company Name
                    h2.font-w600.mt-0.mb-50.text-center #{client_detail.company_name}
                    .row.mt-10
                        .col-4
                            .block.block-bordered.block-rounded
                                .block-header.block-header-default
                                    h3.block-title Contact List
                                    .block-options
                                        a.btn.btn-alt-primary.btn-noborder.mr-5(data-toggle="modal" data-target="#mdl_contact-tambah" href="javascript:void(0)") Tambah Kontak
                                .block-content.py-15
                                    table.table.table-bordered.table-hover.table-vcenter.js-dataTable-full
                                        tbody
                                            if contact
                                                for data in contact
                                                    tr
                                                        a(href="#")
                                                            td #{data.alias} 
                                                            td.font-w600 #{data.detail_kontak}
                        .col-8
                            .row
                                .col-12
                                    .form-group
                                        label Alamat
                                        textarea.form-control(type="text" disabled name="alamat" rows="3") #{client_detail.alamat}
                                
                                .col-6
                                    .form-group
                                        label Penanggung Jawab
                                        input.form-control(type="text" value=client_detail.pj_name disabled)
                                .col-6
                                    .form-group
                                        label Jabatan
                                        input.form-control(type="text" value=client_detail.pj_jabatan disabled)
                                .col-6
                                    .form-group
                                        label Created At
                                        input.form-control(type="text" value=client_detail.createdAt disabled)
                                .col-6
                                    .form-group
                                        label Last Update
                                        input.form-control(type="text" value=client_detail.createdAt disabled)
                            

block modal
    .modal.fade(id="mdl_client-ubah" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30.mb-30 Ubah Data
                        form.js-validation-signin(action="/clients/" + client_detail.id + "/edit", method="POST")
                            .form-group
                                label Company Name
                                input.form-control(type="text" placeholder="Company Name" name="company" value=client_detail.company_name)
                            .form-group
                                label Penanggung Jawab
                                input.form-control(type="text" placeholder="Penanggung Jawab" name="name" value=client_detail.pj_name)
                            .form-group
                                label Jabatan
                                input.form-control(type="text" placeholder="Jabatan" name="jabatan" value=client_detail.pj_jabatan)
                            .form-group.mt-20
                                textarea.form-control(type="text" placeholder="Alamat Lengkap" name="alamat" rows="3") #{client_detail.alamat}
                            hr 
                            p Mengubah data akan mengubah setiap data yang terRelasi
                            button.btn.btn-alt-primary.btn-noborder.w-100.mt-20(type="submit") Simpan
                            button.btn.btn-alt-secondary.btn-noborder.btn-hero.w-100.mt-20(type="button" data-dismiss="modal") Batalkan

    .modal.fade(id="mdl_contact-tambah" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30.mb-30 Tambah Kontak
                        form.js-validation-signin(action="/clients/" + client_detail.id + "/contact_create", method="POST")
                            .form-group
                                input.form-control(type="text" placeholder="Alias Name" name="alias")
                            .form-group
                                select.js-select2.form-control(style="width:100%" id="example-select2" name="jenis" data-placeholder="Jenis Kontak")
                                    option
                                    option(value="1") Email
                                    option(value="2") Telegram
                                    option(value="3") Telepon Kantor
                                    option(value="4") Whatsapp
                                    option(value="5") Others
                            .form-group
                                input.form-control(type="text" placeholder="Detail Kontak" name="kontak")
                            button.btn.btn-primary.btn-noborder.btn-hero.w-100.mt-20(type="submit") Tambahkan
    
    .modal.fade(id="mdl_client-hapus" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30.mb-30 Hapus Data
                        form.js-validation-signin(action="/clients/" + client_detail.id + "/delete", method="POST")
                            .form-group
                                label Company Name
                                input.form-control(type="text" name="company" value=client_detail.company_name disabled)
                            hr 
                            p Menghapus data akan menyebabkan konflik pada Relasi
                            button.btn.btn-alt-danger.btn-noborder.w-100.mt-20(type="submit") Hapus Data
                            button.btn.btn-alt-primary.btn-noborder.btn-hero.w-100.mt-20(type="button" data-dismiss="modal") Batalkan
                            
    

block helpers
    script(src="../../assets/js/plugins/select2/js/select2.full.min.js")
    script(src="../../assets/js/plugins/datatables/jquery.dataTables.min.js")
    script(src="../../assets/js/plugins/datatables/dataTables.bootstrap4.min.js")

    script(src="../../assets/js/pages/be_tables_datatables.min.js")
    script.
        jQuery(function(){ Codebase.helpers(['select2']); })