extends ../layout

block css

block content
    .content.content-full
        .py-50
            .position-relative
                span.text-back #{title}
                .row
                    .col-6
                        nav.breadcrumb.push
                            a.breadcrumb-item(href='/') Dashboard
                            a.breadcrumb-item(href='/users') Users Account
                            span.breadcrumb-item.active #{title}
            
            .block
                .block-header.block-header-default
                    a.text-primary(href="/users") 
                        i.si.si-action-undo    
                        | Kembali
                    .block-options
                        button.btn-block-option.mr-20(data-toggle="block-option" data-action="fullscreen_toggle")
                        a.btn.btn-primary.btn-noborder.btn-hero.mr-5(data-toggle="modal" data-target="#mdl_user-ubah" href="javascript:void(0)") Ubah Data
                        a.btn.btn-alt-danger.btn-noborder.btn-hero(data-toggle="modal" data-target="#mdl_user-hapus" href="javascript:void(0)") 
                            i.fa.fa-trash
                .block-content.block-content-full
                    .row.mt-10
                        .col-4
                            .block
                                .block-content.block-content-full.bg-secondary
                                    .text-center.py-50
                                        h4.font-w700.text-white.text-uppercase.mb-0 
                                            case user_detail.level
                                                when 1 
                                                    const Administrator
                                                when 2
                                                    const Petugas
                                                default
                                                    const Galat Error
                        .col-8
                            .row
                                .col-6
                                    .form-group
                                        label Username
                                        span.form-control(type="text") #{user_detail.username}
                                .col-6
                                    .form-group
                                        label Name
                                        span.form-control(type="text") #{user_detail.name}
                                .col-6
                                    .form-group
                                        label Created At
                                        input.form-control(type="text" value=user_detail.createdAt disabled)
                                .col-6
                                    .form-group
                                        label Last Update
                                        input.form-control(type="text" value=user_detail.createdAt disabled)
                            

block modal
    .modal.fade(id="mdl_user-ubah" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30 Ubah Data
                        p.text-muted.text-center.font-w400 username: #{user_detail.username}
                        form.js-validation-signin(action="/users/" + user_detail.id + "/edit", method="POST")
                            .form-group
                                label Nama
                                input.form-control(type="text" placeholder="Nama Lengkap" name="name" value=user_detail.name)
                            button.btn.btn-primary.btn-noborder.btn-hero.w-100.mt-20(type="submit") Simpan
    
    .modal.fade(id="mdl_user-hapus" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30 Hapus Data
                        p.text-muted.text-center.font-w400 username: #{user_detail.username}
                        form.js-validation-signin(action="/users/" + user_detail.id + "/delete", method="POST")
                            .form-group
                                label Username
                                input.form-control(type="text" name="username" value=user_detail.username disabled)
                            .form-group
                                label Nama
                                input.form-control(type="text" name="name" value=user_detail.name disabled)
                            hr
                            h6.font-w700.text-center.mb-0.mt-lg-30 Hapus data ini?
                            button.btn.btn-alt-danger.btn-noborder.w-100.mt-20(type="submit") Ya, Hapus
                            button.btn.btn-primary.btn-noborder.btn-hero.w-100.mt-20(type="submit") Batalkan
    

block helpers