extends ../layout

block css
    link(rel="stylesheet", href="/assets/js/plugins/select2/css/select2.min.css")

block content
    .content.content-full
        .py-50
            .position-relative
                span.text-back #{title}
                .row
                    .col-6
                        nav.breadcrumb.push
                            a.breadcrumb-item(href='/') Dashboard
                            a.breadcrumb-item(href='/users') Users Account
                            span.breadcrumb-item.active #{title}
            
            .block
                .block-header.block-header-default
                    a.text-primary(href="/users") 
                        i.si.si-action-undo    
                        | Kembali
                    .block-options
                        button.btn-block-option.mr-20(data-toggle="block-option" data-action="fullscreen_toggle")
                        .dropdown
                            button.btn-block-option.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Lainnya
                            .dropdown-menu.dropdown-menu-right
                                a.dropdown-item.mr-5(data-toggle="modal" data-target="#mdl_user-ubah" href="javascript:void(0)")
                                    i.fa.fa-pencil.mr-5
                                    | Ubah Data
                                a.dropdown-item(data-toggle="modal" data-target="#mdl_user-hapus" href="javascript:void(0)") 
                                    i.fa.fa-trash.mr-5
                                    | Hapus Data
                        
                            
                .block-content.block-content-full
                    .row.mt-10
                        .col-4
                            .block.block-bordered.block-rounded
                                .block-content.block-content-full
                                    hr
                                    h6.font-w400 Riwayat Terakhir
                        .col-8
                            .row
                                .col-6
                                    .form-group
                                        label Username
                                        span.form-control(type="text") #{user_detail.username}
                                .col-6
                                    .form-group
                                        label Name
                                        span.form-control(type="text") #{user_detail.name}
                                .col-12
                                    .block.block-bordered.block-rounded
                                        .block-content.block-content-full
                                            h6.font-w400 Role Akses
                                            h6 #{route}
                                
                                    

block modal
    .modal.fade(id="mdl_user-ubah" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30 Ubah Data
                        p.text-muted.text-center.font-w400 username: #{user_detail.username}
                        form.js-validation-signin(action="#" id="formUpdate" method="POST")
                            .form-group
                                label Username
                                input(id="idNum" hidden value=Buffer.from(user_detail.id).toString('base64'))
                                input.form-control(type="text" placeholder="Username" id="username" value=user_detail.username)
                            .form-group
                                label Nama
                                input(id="idNum" hidden value=Buffer.from(user_detail.id).toString('base64'))
                                input.form-control(type="text" placeholder="Nama Lengkap" id="name" value=user_detail.name)
                            .form-group.mt-20
                                label Role Akses 
                                select.js-select2.form-control(style="width:100%" id="role" data-placeholder="Role User")
                                    option
                                    for role_data in roles
                                        option(value=role_data.id selected= user_detail.Role.id==role_data.id) #{role_data.nama_role}
                            hr 
                            p Mengubah data akan mengubah setiap data yang terRelasi
                            button.btn.btn-alt-primary.btn-noborder.w-100.mt-20(type="submit") Simpan
                            button.btn.btn-alt-secondary.btn-noborder.btn-hero.w-100.mt-20(type="button" data-dismiss="modal") Batalkan
    
    .modal.fade(id="mdl_user-hapus" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30 Hapus Data
                        p.text-muted.text-center.font-w400 username: #{user_detail.username}
                        form.js-validation-signin(action="#" id="formDelete", method="POST")
                            .form-group
                                label Username
                                input.form-control(type="text" name="username" value=user_detail.username disabled)
                            .form-group
                                label Nama
                                input.form-control(type="text" name="name" value=user_detail.name disabled)
                            hr 
                            p Menghapus data akan menyebabkan konflik pada Relasi
                            button.btn.btn-alt-danger.btn-noborder.w-100.mt-20(type="submit") Hapus Data
                            button.btn.btn-alt-primary.btn-noborder.btn-hero.w-100.mt-20(type="button" data-dismiss="modal") Batalkan
    

block helpers
    script(src="/assets/js/plugins/select2/js/select2.full.min.js")
    script(src="/assets/js/pages/user_detail.js")
    script.
        jQuery(function(){ Codebase.helpers(['select2']); })