extends ../layout

block css
    link(rel="stylesheet", href="assets/js/plugins/select2/css/select2.min.css")
    link(rel="stylesheet", href="assets/js/plugins/datatables/dataTables.bootstrap4.css")

block content
    .content.content-full
        .py-50
            .position-relative
                span.text-back #{title}
                .row
                    .col-6
                        nav.breadcrumb.push
                            a.breadcrumb-item(href='/') Dashboard
                            span.breadcrumb-item.active #{title}
            
            h4.font-w300.mt-50 #{title} 
                small Overview
            .block
                .block-header.block-header-default
                    h3.block-title Tabel Data User
                    .block-options
                        button.btn-block-option.mr-20(data-toggle="block-option" data-action="fullscreen_toggle")
                        a.btn.btn-primary.btn-noborder.btn-hero(data-toggle="modal" data-target="#mdl_user-tambah" href="javascript:void(0)") Tambah User
                .block-content.block-content-full
                    table.table.table-bordered.table-striped.table-vcenter.js-dataTable-full
                        thead
                            tr
                                th.text-center No
                                th name
                                th.d-none.d-sm-table-cell Username
                                th.d-none.d-sm-table-cell Roles
                                th.text-center Action
                        tbody
                            if users
                                - i = 1
                                for user_data in users
                                    tr
                                        td.text-center #{i}
                                        td.font-w600 #{user_data.name}
                                        td.d-none.d-sm-table-cell #{user_data.username}
                                        td.d-none.d-sm-table-cell #{user_data.Role.nama_role}
                                        td.text-center
                                            a.btn.btn-sm.btn-noborder.btn-alt-secondary.mr-5(href="/users/" + user_data.id ) Detail
                                    - i = i+1
            h4.font-w300.mt-50 Manage Roles  
            .row
                .col-12
                    .block
                        .block-header.block-header-default
                            h3.block-title Roles List
                            .block-options
                                button.btn-block-option.mr-20(data-toggle="block-option" data-action="fullscreen_toggle")
                                a.btn.btn-primary.btn-noborder.btn-hero(data-toggle="modal" data-target="#mdl_role-tambah" href="javascript:void(0)") Tambah Roles
                        .block-content.block-content-full
                            table.table.table-bordered.table-striped.table-vcenter.js-dataTable-full
                                thead
                                    tr
                                        th.text-center No
                                        th.w-30 Roles
                                        th.d-none.d-sm-table-cell.w-50 Routing
                                        th.text-center Action
                                tbody
                                    if users
                                        - i = 1
                                        for role_data in roles
                                            tr
                                                td.text-center #{i}
                                                td.font-w600 #{role_data.nama_role}
                                                td.d-none.d-sm-table-cell #{role_data.routing}
                                                td.text-center
                                                    a.btn.btn-sm.btn-noborder.btn-alt-secondary.mr-5(href="/users/" + role_data.id ) Detail
                                            - i = i+1
               


block modal
    .modal.fade(id="mdl_user-tambah" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.py-50.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30 Tambah User
                        p.text-muted.text-center.font-w400 Lengkapi isian berikut
                        form.js-validation-signin(action="/users" method="POST")
                            .form-group.mt-20
                                input.form-control(type="text" placeholder="Username" name="username" value=formData.username)
                                if (errors && errors.username)
                                    p.small.text-danger #{errors.username}
                            .form-group.mt-20
                                input.form-control(type="text" placeholder="Nama Lengkap" name="name")
                            .form-group.mt-20
                                input.form-control(type="password" placeholder="Kata sandi" name="password" value="")
                            .form-group.mt-20
                                select.js-select2.form-control(style="width:100%" id="example-select2" name="role" data-placeholder="Role User")
                                    option
                                    for role_data in roles
                                        option(value=role_data.id) #{role_data.nama_role}
                            button.btn.btn-primary.btn-noborder.btn-hero.w-100.mt-20(type="submit") Tambahkan

    .modal.fade(id="mdl_role-tambah" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.py-50.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30 Tambah Role
                        p.text-muted.text-center.font-w400 Lengkapi isian berikut
                        form.js-validation-signin(action="/users/role-create" method="POST")
                            .form-group.mt-20
                                input.form-control(type="text" placeholder="Nama Role" name="name")
                            .form-group.mt-20
                                select.js-select2.form-control(multiple style="width:100%" name="roles" data-placeholder="Routing")
                                    option
                                    option(value="1") Bank Account 
                                    option(value="2") Billings
                                    option(value="3") Clients
                                    option(value="4") Mails
                                    option(value="5") Users
                            button.btn.btn-primary.btn-noborder.btn-hero.w-100.mt-20(type="submit") Tambahkan
    
    

block helpers
    script(src="assets/js/plugins/select2/js/select2.full.min.js")
    script(src="assets/js/plugins/datatables/jquery.dataTables.min.js")
    script(src="assets/js/plugins/datatables/dataTables.bootstrap4.min.js")

    script(src="assets/js/pages/be_tables_datatables.min.js")
    script.
        jQuery(function(){ Codebase.helpers(['select2']); })