extends ../../layout

block css
    link(rel="stylesheet", href="/assets/js/plugins/select2/css/select2.min.css")
    link(rel="stylesheet", href="/assets/js/plugins/datatables/dataTables.bootstrap4.css")

block content
    .content.content-full
        .py-50
            .position-relative.mb-30
                span.text-back #{title}
                .row
                    .col-6
                        nav.breadcrumb.push
                            a.breadcrumb-item(href='/') Dashboard
                            a.breadcrumb-item(href='/settings') Settings
                            a.breadcrumb-item(href='/settings/core') Core Settings
                            span.breadcrumb-item.active #{title}
            .block
                .block-header.block-header-default
                    a.text-primary(href="/settings/core") 
                        i.si.si-action-undo    
                        | Kembali
                    .block-options
                        button.btn-block-option.mr-20(data-toggle="block-option" data-action="fullscreen_toggle")
                        .dropdown
                            button.btn-block-option.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Lainnya
                            .dropdown-menu.dropdown-menu-right
                                a.dropdown-item.mr-5(data-toggle="modal" data-target="#mdl-ubah" href="javascript:void(0)")
                                    i.fa.fa-pencil.mr-5
                                    | Ubah Data
                                a.dropdown-item(data-toggle="modal" data-target="#mdl-hapus" href="javascript:void(0)") 
                                    i.fa.fa-trash.mr-5
                                    | Hapus Data
                .block-content.block-content-full
                    h6.text-center.mb-0.mt-30
                        small Alias Type
                    h2.font-w600.mt-0.mb-50.text-center #{data.alias} 
                        if data.jenis==1
                            | (#{data.inisial}) - #{data.unique_code}
                    h6.text-center.mb-0.mt-30
                        small Format Num
                    h2.font-w600.mt-0.mb-50.text-center #{data.Format_Num.alias} - #{data.Format_Num.format_num} 
                    h6.text-center.mb-0.mt-30
                        small File Template
                    .text-center
                        a.h2.font-w600.mt-0.mb-50(href=Buffer.from(data.id).toString('base64') + "/template", target="_blank") #{data.file_template}.pug
                        

block modal
    .modal.fade(id="mdl-ubah" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30.mb-30 Ubah Data
                        form.js-validation-signin(action="#" id="formUpdate" method="POST")
                            .form-group.mt-20
                                input#idNum(hidden value=Buffer.from(data.id).toString('base64'))
                                input#jenis(hidden value=Buffer.from(data.jenis).toString('base64'))
                                label Alias Type
                                input.form-control(type="text" placeholder="Alias Type" id="alias" value=data.alias)
                            .form-group.mt-20
                                if data.jenis == 1
                                    label Inisial
                                    input.form-control(type="text" placeholder="Alias Type" id="inisial" value=data.inisial)
                                else if data.jenis == 3
                                    label Service Index
                                    select.js-select2.form-control(style="width:100%" id="select-service" name="format" data-placeholder="Numbering Format")
                                        option
                                            if data.Service == null
                                                for d_service in service
                                                    option(value=d_service.id) #{d_service.name} (#{d_service.unique})
                                            else
                                                for d_service in service
                                                    option(value=d_service.id selected= data.Service.id==d_service.id) #{d_service.name} (#{d_service.unique})
                            .form-group.mt-20
                                label Format Num
                                select.js-select2.form-control(style="width:100%" id="select-format" name="format" data-placeholder="Numbering Format")
                                    option
                                        for d_format in format
                                            option(value=d_format.id selected= data.Format_Num.id==d_format.id) #{d_format.alias} - #{d_format.format_num}
                            if data.jenis == 1
                                .form-group.mt-20
                                    label Unique Code
                                    input.form-control(type="text" placeholder="Alias Type" id="unique" value=data.unique_code)
                            hr 
                            p Mengubah data akan mengubah setiap data yang terRelasi
                            button.btn.btn-alt-primary.btn-noborder.w-100.mt-20(type="submit") Simpan
                            button.btn.btn-alt-secondary.btn-noborder.btn-hero.w-100.mt-20(type="button" data-dismiss="modal") Batalkan

    .modal.fade(id="mdl-hapus" tabindex="-1" role="dialog")
        .modal-dialog.modal-sm.modal-dialog-centerd.modal-dialog-popout(role="document")
            .modal-content.rounded
                .block.block-rounded.block-transparent
                    .block-content.mt-20.mb-20.px-30
                        h4.font-w700.text-center.mb-0.mt-lg-30.mb-30 Hapus Data
                        form.js-validation-signin(action="#" id="formDelete" method="POST")
                            .form-group
                                label Type Alias
                                input#idNum(hidden value=Buffer.from(data.id).toString('base64'))
                                input.form-control(type="text" value=data.alias disabled)
                            hr 
                            p Menghapus data akan menyebabkan konflik pada Relasi
                            button.btn.btn-alt-danger.btn-noborder.w-100.mt-20(type="submit") Hapus Data
                            button.btn.btn-alt-primary.btn-noborder.btn-hero.w-100.mt-20(type="button" data-dismiss="modal") Batalkan
                            
    

block helpers
    script(src="/assets/js/plugins/select2/js/select2.full.min.js")
    script(src="/assets/js/plugins/datatables/jquery.dataTables.min.js")
    script(src="/assets/js/plugins/datatables/dataTables.bootstrap4.min.js")

    script(src="/assets/js/pages/be_tables_datatables.min.js")

    script(src="/assets/js/pages/settings_core_detailType.js")
    
    script.
        jQuery(function(){ Codebase.helpers(['select2']); })